= flash[:error]

%h1 Submit a Project to Jacobs Institute

= render 'form'
//= form_tag project_submissions_path do

//  = label :submission, :title, 'Title'
//  = text_field :submission, 'title'

//  = label :submission, :desc, 'Description'
//  = text_area :submission, 'desc'

//  = label :submission, :attachment, 'File Upload'
//  = file_field :attachment, 'Browse'

//  = submit_tag 'Submit'
