%h1 Submit a Project to Jacobs Institute

%div (Explaination text)

= form_tag :remote => true do
  = select_tag 'project', options_from_collection_for_select(@projects, "id", "name"), prompt: "Choose a Project", onchange: "showForm(this.value)"
%br/
#generate_form
  %div
