.container-fluid
  .rows
    .col-lg-12.text-center.v-center
      %h1 500
      %div
        %h3 We're sorry.
        %div.desc
          Something happened with our server.
          %br/
          Please come back later - we should be fixing this soon.
          %br/
          %br/
          %a{href: projects_path} Go back to our home page
          and try again?
