html, body {
  font-family: 'lexia', serif;
  font-size: 1.1em;
  font-weight: 400;
  background-color: #124;
  color: #fff;
  height: 100%;
}

.container#narrow-form {
  max-width: 870px;
}

h1 {
  text-transform: uppercase;
  font-size: 4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'brandon-grotesque', serif;
  font-weight: bold;
}

.v-center {
  margin-top: 7%;
}

.form-box {
  max-width: 80%;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

input[readonly] {
  background-color: white !important;
  cursor: text !important;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: rgb(13, 160, 156);;
}

a:hover {
  color: #fff;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.btn-primary {
  font-family: 'brandon-grotesque', serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(13, 160, 156);
  border-color: rgb(10, 146, 139);
  &:hover {
    background-color: rgb(10, 146, 139);
  }
}

tr.lite {
  &:hover {
    color: #fff;
    background-color: #235;
  }
}

td {
  padding:5px;
}

#notice {
  color: green;
}

#error_explanation {
  width: 100%;
  border: 2px solid rgb(237, 104, 81);
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: rgb(183, 95, 83);
    color: #fff;
  }
  ul li {
    color: #000;
    font-size: 12px;
    list-style: square;
  }
}

input {
  color: #000;
}

input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:45px;
  height:40px; 
  display:inline-block;
  line-height:40px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:40px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -40px;
}

label.css-label {
  background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_019807af606f0dea9eb28a8d35a7afc6.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h4.error_msg {
  padding: 10px;
  background-color: rgb(237, 104, 81);
  color: #fff;
}

input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

label.css-label {
  width: 40px;
  height:40px;
  color: yellow;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:45px;
  height:40px; 
  display:inline-block;
  line-height:40px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:40px;
  vertical-align:middle;
  cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -40px;
}

label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_019807af606f0dea9eb28a8d35a7afc6.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
display: none;
}

